# Application
PROJECT_NAME="Travel Expense Tracker API"
APP_ENV="development"
DEBUG=True
API_V1_PREFIX="/api/v1"
PORT=8000
HOST="0.0.0.0"

# Logging
LOG_LEVEL="INFO"

# MongoDB Configuration
MONGODB_URI="mongodb://localhost:27017"
DATABASE_NAME="travel_expense_tracker"
